@import "reset"
html, body
  height: 100%

.page
  display: flex
  flex-direction: column
  height: 100%

.page-body
  flex: 1 0 auto

.page-foot
  flex: 0 0 auto
  background: #000

@import "nav"
@import "logos"
@import "btn"
@import "form"
@import "head"

.arrow-down
  display: inline-block
  vertical-align: middle
  width: 16px
  height: 16px
  text-align: center
  position: relative
  top: -1px

.arrow-down:before
  content: ''
  display: inline-block
  vertical-align: top
  width: 1px
  height: 9px
  background: #fff
  margin: 3px 3px 0 0

#topCarousel
  height: 100vh
.carousel-fade
  .carousel-inner
    height: 100vh
    .item
      height: 100vh
      opacity: 0
      transition: opacity 0.7s
      background-size: cover
      background-position: 50% 50%
    .active
      opacity: 1
      &.left, &.right
        left: 0
        opacity: 0
        z-index: 1
    .next.left, .prev.right
      opacity: 1
  .carousel-control
    z-index: 2

@media all and (transform-3d), (-webkit-transform-3d)
  .carousel-fade .carousel-inner > .item
    &.next, &.active.right, &.prev, &.active.left
      opacity: 0
      transform: translate3d(0, 0, 0)
    &.next.left, &.prev.right, &.active
      opacity: 1
      transform: translate3d(0, 0, 0)



.footer-t
  background: #3a3a3a
  color: #fff

.footer-t a
  color: #fff

.footer-b p
  margin: 0

.footer-b
  background: #ee9407
  line-height: 40px

.footer-b a
  color: #000