@import "reset"
html, body
  height: 100%

.page
  display: flex
  flex-direction: column
  height: 100%

.page-body
  flex: 1 0 auto

.page-foot
  flex: 0 0 auto
  background: #000

@import "nav"
@import "logos"
@import "btn"
@import "form"

.footer-t
  background: #3a3a3a
  color: #fff

.footer-t a
  color: #fff

.footer-b p
  margin: 0

.footer-b
  background: #ee9407
  line-height: 40px

.footer-b a
  color: #000


